@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: rgb(56, 195, 233);
  
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2opx 10px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  
}  
.logo {
  font-size: 25px ;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;  
  margin-left: 50px;

}

.navbar a{
  font-size: 16px ;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  
}
.navbar a:hover,
.active{
  color: #00abf0 ; 
}

.container{
  max-width: 690px;
  width: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.01);
  align-items: center;
  justify-content: center;
  margin: 14px auto;
  
}
.wrapper{
  border-radius: 5px;
  border: 1px solid #ccc;
}
.wrapper .text-input{
  display: flex;
  border-bottom: 1px solid #ccc;
}
.text-input .to-text{
  border-radius: 0px;
  border-left: 1px solid #ccc;
}
.text-input textarea{
  height: 250px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
}
.text-input textarea::placeholder{
  color: #b7b6b6;
}
.controls .row select{
  color: #333;
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
  padding-left: 5px;
}
.container button{
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 5px;
  background: #5372F0;
}
.wrapper{
  background-color: rgb(34, 122, 184);
}
.nav{
  
  justify-content: space-between;
  align-items: center;
  display: flex;

}
.logo{
  width: 50px;
  cursor: pointer;
  border-radius: 50%;


}
.nav ul li{
  list-style: none;
  display: inline-block;
  margin:  20px;
  position: relative;
  
}
.nav ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  justify-content: space-between;
  font-size: larger;
  
}
.nav ul li :hover{
  
  color: rgb(239, 126, 20);
  
  


}
.converter{
  text-align: center;

}
.converter a{
  display: block;
  margin: 0 auto;
  border: 1px solid blue ;
  text-decoration: none;
  color: #ededed;
  background-color: rgb(73, 150, 232);
  cursor: pointer;

}
.converter a:hover{
  background-color: rgb(36, 81, 231);
  color: #333;
}

@media (max-width: 660px){
  .container{
    padding: 20px;
  }
  .wrapper .text-input{
    flex-direction: column;
  }
  .text-input .to-text{
    border-left: 0px;
    border-top: 1px solid #ccc;
  }
  .text-input textarea{
    height: 200px;
  }
  .controls .row .icons{
    display: none;
  }
}

@media screen and (max-width: 1432px) {
  .container {
    padding: 7rem 11rem;
  }

  
}

@media screen and (max-width: 970px) {
  .container {
    padding: 7rem 6rem;
  }

}
@media screen and (max-width: 700px) {
  .container {
    padding: 7rem 3rem;
  }

}
.container{
  text-align: center;
  width: 100%;
}
.container a{
  text-decoration: none;
  border: 1px solid black ;
  
}
